.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #f7f4f4;
}

.about .topSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding-top: 20px;
}

.topSection .intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 700px;
  /* margin: 20px;*/
  padding: 20px 40px 20px 40px;
  font-size: 30px;
}

.about-part {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  padding: 20px 40px 20px 40px;
  font-size: 30px;
}

margin-top {
  margin-top: 40px;
}

margin-bottom {
  margin-bottom: 40px;
}

.img-class {
  border-radius: 40%;
}
