footer {
  background-color: lightgray;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.icon-display button {
  height: 47px;
  width: 170px;
}

.icon-display button {
  width: 100%;
  height: 100%;
  border: 2px solid crimson;
  background: white;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon-display button:hover {
  color: crimson;
  background: none;
}

@media (max-width: 400px) {
  footer {
    position: static;
    bottom: 0px;
  }
}

@media (max-width: 650px) {
  footer {
    position: static;
    bottom: 0px;
    background-color: lightgray;
    padding-bottom: 1px;
  }
}

@media only screen and (max-width: 767px) {
  footer {
    background-color: lightgray;
    color: #ffffff;
    font-size: 0.8em;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
  }
}
