/* @import url("https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto:wght@300&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* navbar styling */
.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 6% 15px 25px;
  z-index: 999;

  font-family: "Robot", sans-serif;
  transition: all 0.3s ease;
  background-color: #3f51b5;
}

.navbar.sticky {
  padding: 15px 0;
  background: yellow;
}

.navbar .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: yellow;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #fff;
}

.navbar .menu li {
  list-style: none;
}

.navbar .menu li a {
  display: block;
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: rgb(101, 115, 195);
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* menu button styling */
.mobile-menu {
  display: none;
}

@media screen and (max-width: 980px) {
  .navbar {
    padding: 0 0 10px 15px;
    justify-content: center;
    text-align: center;
  }

  .navbar .logo a {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 25px;
  }

  .navbar .menu {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
  }

  .navbar .active {
    background: #9899d1;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .mobile-menu {
    justify-content: center;
    display: block;
    color: white;
    font-size: 23px;
    cursor: pointer;
    padding: 0 20px 0px 0px;
  }
}
