/* project Cards Styling */

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #f7f4f4;

  transition: opacity 0.1s;
}

.project-card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 1400px;
  min-height: 500px;
  margin: auto;

  margin-top: 50px;
  margin-bottom: 50px;
  background-color: lightgray;
  border-radius: 20%;
}

.project-card-section .project-pic .project-img {
  max-height: 500;
  min-height: 500px;
  width: 700px;
  border-radius: 20%;
}

.project-card-section .project-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 500px;
  max-height: 500px;

  padding: 25px 0 25px 0;
  width: 700px;
  padding-left: 50px;
  padding-right: 50px;
}

.project-card-section .project-description .about-project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.project-description .about-project .brief-description {
  padding-top: 25px;

  font-size: 20px;
}

.project-card-section .project-description .project-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.project-description .project-links .repo-link {
  margin-right: 50px;

  font: bold 11px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;

  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}

.project-description .project-links .site-link {
  margin-left: 50px;

  font: bold 11px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;

  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}

@media (max-width: 400px) {
  .project-card-section {
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    border-radius: 5%;
  }

  .project-card-section .project-pic .project-img {
    width: 100%;
    height: auto;
    border-radius: 5%;
  }

  .project-card-section .project-description {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
  }

  .project-card-section .project-description .project-links {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;

    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .project-card-section .project-description .project-links .repo-link {
    padding: 0px;
    margin: 0px;
  }
  .project-card-section .project-description .project-links .site-link {
    padding: 0px;
    margin: 0px;
  }
}

@media (max-width: 767px) {
  .project-card-section {
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    border-radius: 5%;
  }

  .project-card-section .project-pic .project-img {
    width: 100%;
    height: auto;
    border-radius: 5%;
  }

  .project-card-section .project-description {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
  }

  .project-card-section .project-description .project-links {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;

    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .project-card-section .project-description .project-links .repo-link {
    padding: 0px;
    margin: 0px;
  }
  .project-card-section .project-description .project-links .site-link {
    padding: 0px;
    margin: 0px;
  }
}
